<p style="color: green"><%= notice %></p>

<%= render @alpha_blog %>

<div style="color : red; position: relative; left : 5pc; width : 30pc;">
  <%= link_to "Edit this alpha blog", edit_alpha_blog_path(@alpha_blog) %> |
  <%= link_to "Back to alpha blogs", alpha_blogs_path %>

  <%= button_to "Destroy this alpha blog", @alpha_blog, method: :delete %>
</div>
