<p style="color: green"><%= notice %></p>

<div style="position : relative; left : 38pc;top : 22pc; color : green;">
    by <%= @alpha_blog.user.username if @alpha_blog.user %>
</div>

<div style="position: relative; left : 20pc; top : 4pc; width : 50pc;">

    <%= @alpha_blog.description if @alpha_blog.description %>
</div>

<% if logged_in? && (@alpha_blog.user == current_user || current_user.admin?) %>
<div style="position: relative; left : 20pc; top : 4pc; width : 30pc;">
  <%= link_to "Back to alpha blogs", alpha_blogs_path ,  class: "btn btn-outline-info" %>
</div>

<div style="position: relative; left : 20pc; top : 3pc; width : 30pc;">
    <%= button_to "Destroy this alpha blog", alpha_blog_path(@alpha_blog) , class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
</div>
<% end %>