<p style="color: green"><%= notice %></p>

<h1 style="color : red; position : relative ; left : 5pc"> Users</h1>

<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div id="users" style="position : relative; left : -30pc;top : 5pc; width : 30pc">  
  <%= @users.each do |blogs| %> 
  <div class="card text-center">
    <div class="card-header font-italic">
        <%= blogs.username if blogs.username %>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= blogs.email if blogs.email %>
      </h5>
      <p class="card-text"> <%pluralize(blogs.alpha_blogs.count, " My activity !", "alpha_blog") %></p>
        <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(blogs.created_at) %> ago</small>
        </div>
      </p>
    </div>
  </div>
  <% end %>
  </div>


